<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p data-controller="hello">This text will change</p>

<div data-controller="toggle" data-toggle-change-class="hidden">
	<span data-action="click->toggle#toggle">Click me to activate the toggle_controller.toggle() function.</span>
	<ul data-toggle-target="content">
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>
</div>

<div data-controller="toggle" data-toggle-change-class="hidden">
	<span data-action="click->toggle#toggle">Click me to show a dropdown button.</span>
	<div class="dropdown hidden" data-toggle-target="content">
  	<button class="dropbtn">Dropdown</button>
		<div class="dropdown-content">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
		</div>
	</div> 
</div>
<br>
<div data-controller="toggle" data-toggle-change-class="hidden">
	<span data-action="click->toggle#toggle"
				data-toggle-target="content"
				>Click me to show a list instead of this.</span>
	<ul data-action="click->toggle#toggle"
			class="hidden" data-toggle-target="content">
		<li>Item 4</li>
		<li>Item 5</li>
		<li>Item 6</li>
	</ul>
</div>
<br>
<div data-controller="toggle" data-toggle-change-class="dropbtn">
	<div data-toggle-target="content">
		<input type="checkbox" data-action="click->toggle#toggle" name="checkbox_toggle">
		<label for="checkbox_toggle">Click me to show a green box.</label>
	<div>
</div>
<br>
<div data-controller="text">
	<textarea 
		data-text-target="textarea"
		data-action="input->text#count" cols="45" rows="7" placeholder="Write here your tweet."></textarea>
	<p data-text-target="characters"></p>
	<p data-text-target="notice"></p>
</div>